<div class="form-group row" style="justify-content: space-around;">
  <div class="col-xs-2" style="padding: 0px 0 15px 0;">
    <input type="text" size="50%" class="form-control" placeholder="Search for fooditem" [(ngModel)]="searchText"
      style="padding: 0 50px;">
  </div>

</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let obj of items | filter:searchText">
    <div class="card">
      <img src="{{obj.image}}" class="card-img-top" alt="img">
      <div class="card-body">
        <h2 class="card-title">{{obj.name}}</h2>
        <p>{{obj.price}}</p>
        <input class="cart-btn" type="button" (click)="sendToCart(obj)" value="AddtoCart" />
      </div>
    </div>
  </div>
</div>
