.card{
 
  margin: 20px 0;
}

.container.card{
  display: flex;
  flex-direction: row;
  
}

.card-body{
  margin: 0 0 0 20px;
  padding: 10px 10px;
}
.col{
  padding:0 20px ;
}
img {
  margin: 0 auto;
 
float: inline-start;
  height: 150px;

width: 250px;;    object-fit: cover;
}



.cart-btn{
padding: 5px 10px;
border: 1px white;
border-radius: 5px;
font-size: medium;
background-color: lightseagreen;
color: white;
}
