<div class="container">
        <h2>Sign Up</h2>
        <form #SignUpForm="ngForm" (ngSubmit)="signUpData()">
       
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="customer.email" required
              pattern="\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
            <div *ngIf="email.errors && ( email.invalid && email.touched)">
              <small class="text-danger" *ngIf="email.errors.required">Email Id is required field</small>
              <small class="text-danger" *ngIf="email.errors.pattern">Enter the proper value of email</small>
            </div>
          </div>
       
          <div class="form-group">
            <label for="firstName">Firstname:</label>
            <input type="text" class="form-control" placeholder="Enter Firstname" name="firstName"
              [(ngModel)]="customer.firstName" required #firstName="ngModel"
              [class.is-invalid]="firstName.invalid && firstName.touched">
            <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">Firstname is required
              field</small>
          </div>

          <div class="form-group">
                <label for="lastName">LastName:</label>
                <input type="text" class="form-control" placeholder="Enter LastName" name="lastName" [(ngModel)]="customer.lastName"
                  required #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched">
                <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Lastname is required
                  field</small>
              </div>
           
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" name="password"
                  [(ngModel)]="customer.password" required #password="ngModel"
                  [class.is-invalid]="password.invalid && password.touched">
                <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required
                  field</small>
              </div>

              <div class="form-group">
                <label for=" street">Street:</label>
                <input type="text" class="form-control" placeholder="Enter street" name="street" [(ngModel)]="address.street"
                  required minlength="6" #street="ngModel" [class.is-invalid]="street.invalid && street.touched">
                <small class="text-danger" [class.d-none]="street.valid || street.untouched">street is required
                  field</small>
                <div *ngIf="street.errors?.minlength">Street must be at least 6 characters long. </div>
              </div>
              <div class="form-group">
           
                <label for="city">City:</label>
                <input type="text" class="form-control" placeholder="Enter city" name="city" [(ngModel)]="address.city" required
                  minlength="3" #city="ngModel" [class.is-invalid]="city.invalid && city.touched">
                <small class="text-danger" [class.d-none]="city.valid || city.untouched">city is required
                  field</small>
                <div *ngIf="city.errors?.minlength">City must be at least 3 characters long. </div>
           
              </div>
           
              <!-- <div class="form-group">
                <label for="state">State:</label>  
                <select name="state">
                  <option value="select" selected disabled>Select</option>
                  <option value="AP">AndhraPradesh</option>
                  <option value="TS">Telangana</option>
                  <option value="tamilnadu">Tamilnadu</option>
                  <option value="kerala">Kerala</option>
                  <option value="maharastra">Maharastra</option>
                </select>
              
               </div>-->

            
              <label for="state">State:</label>
              <input type="text" class="form-control" placeholder="Enter state" name="state" [(ngModel)]="address.state" required
                minlength="3" #state="ngModel" [class.is-invalid]="state.invalid && state.touched">
              <small class="text-danger" [class.d-none]="state.valid || state.untouched">state is required
                field</small>
              <div *ngIf="state.errors?.minlength">State must be at least 3 characters long. </div>
           
             
              <label for="country">Country:</label>
              <input type="text" class="form-control" placeholder="Enter country" name="country" [(ngModel)]="address.country" required
                minlength="3" #country="ngModel" [class.is-invalid]="country.invalid && country.touched">
              <small class="text-danger" [class.d-none]="country.valid || country.untouched">country is required
                field</small>
              <div *ngIf="country.errors?.minlength">Country must be at least 3 characters long. </div>

              <div class="form-group">
                <label for="zipCode">Zipcode:</label>
                <input type="text" class="form-control" placeholder="Enter ZipCode" name="zipCode" pattern="^[0-9]{6}$"
                  [(ngModel)]="address.zipCode" required minlength="6" #zipCode="ngModel"
                  [class.is-invalid]="zipCode.invalid && zipCode.touched">
                <small class="text-danger" [class.d-none]="zipCode.valid || zipCode.untouched">zipcode is required
                  field</small>
                <div *ngIf="zipCode.errors?.minlength || zipCode.errors?.pattern">zipcode must be 6 digits. </div>
          </div><br>
              <button [disabled]="SignUpForm.form.invalid" type="submit" class="btn btn-info">SignUp</button>&emsp;
           
          
            </form>
          </div>

        